html{
    margin: 0;
    padding: 0;
body{
    margin: 0;
    padding: 0;
}
}
header{
    height: 100px;
    background-color: black;
.cas{
    height: 50px;
    background-image: url('cheshire-county-hygiene-services.svg');
    background-repeat: no-repeat;
}
ul li{
    display: inline-block;
    color: white;
    border: 1px solid blue;
}
}